services:
  db:
    image: postgres:15
    env_file: ./.env
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
      POSTGRES_INITDB_ARGS: "--encoding=UTF8 --locale=C"
    volumes:
      - ./db/init-scripts:/docker-entrypoint-initdb.d
      - postgres_data:/var/lib/postgresql/data
    ports:
      - "5432:5432"
    networks:
      - backend-net
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U ${POSTGRES_USER} -d ${POSTGRES_DB}"]
      interval: 5s
      timeout: 5s
      retries: 5

  backend:
    build: 
      context: ./backend
      target: production
    env_file: ./.env
    environment:
      DB_HOST: db
      DB_USER: ${POSTGRES_USER}
      DB_PASSWORD: ${POSTGRES_PASSWORD}
      DB_NAME: ${POSTGRES_DB}
      BACKEND_PORT: 3000
    expose:
      - "3000"
    networks:
      - frontend-net
      - backend-net
    depends_on:
      db:
        condition: service_healthy

  frontend:
    build: 
      context: ./frontend
      target: production
    depends_on:
      - backend
    networks:
      - frontend-net
    volumes:
      - frontend-dist:/app/dist 
      - ./frontend:/app                 
      - /app/node_modules      
      - /app/.svelte-kit       
      - /app/src/routes        
      - /app/src/lib     
  
  reverse-proxy:
    build: 
      context: ./reverse-proxy
      target: production
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - ./reverse-proxy/nginx.conf:/etc/nginx/nginx.conf
      - ./ssl:/etc/nginx/ssl
      - frontend-dist:/usr/share/nginx/html
    depends_on:
      - frontend
    networks:
      - frontend-net

volumes:
  postgres_data:
  frontend-dist:

networks:
  backend-net:
    internal: true
  frontend-net:
    driver: bridge
