services:
  db:
    image: postgres:15
    env_file: ./.env
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
      POSTGRES_INITDB_ARGS: "--encoding=UTF8 --locale=C"
    volumes:
      - ./db/init-scripts:/docker-entrypoint-initdb.d
      - postgres_data:/var/lib/postgresql/data
    networks:
      - backend-net
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U ${POSTGRES_USER} -d ${POSTGRES_DB}"]
      interval: 5s
      timeout: 5s
      retries: 5
    restart: unless-stopped

  backend:
    build:
      context: ./backend
      target: production
    env_file: ./.env
    environment:
      DB_HOST: db
      DB_USER: ${POSTGRES_USER}
      DB_PASSWORD: ${POSTGRES_PASSWORD}
      DB_NAME: ${POSTGRES_DB}
      BACKEND_PORT: 3000
    expose:
      - "3000"
    networks:
      - frontend-net
      - backend-net
    depends_on:
      db:
        condition: service_healthy
    restart: unless-stopped

  frontend:
    build: 
      context: ./frontend
      target: production
    environment:
      - PORT=8080
    depends_on:
      - backend
    networks:
      - frontend-net 
    restart: unless-stopped
  
  reverse-proxy:
    build: 
      context: ./reverse-proxy
      target: production
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - ./reverse-proxy/nginx.conf:/etc/nginx/nginx.conf
      - ./ssl:/etc/nginx/ssl
    depends_on:
      - frontend
    networks:
      - frontend-net
    restart: unless-stopped

volumes:
  postgres_data:

networks:
  backend-net:
    internal: true
  frontend-net:
    driver: bridge
