<footer>
    <div class="foot-row">
        <div class="foot-col">wtaylor.xyz</div>
        <div class="foot-col">Contact</div>
        <div class="foot-col right-align">Navigate</div>
    </div>
    <div class="foot-row">
        <div class="foot-col"></div>
        <div class="foot-col"><a href="mailto:admin@wtaylor.xyz">admin@wtaylor.xyz</a></div>
        <div class="foot-col right-align"><a href="/">Main Page</a></div>
    </div>
    <div class="foot-row">
        <div class="foot-col"></div>
        <div class="foot-col"><a href="/#contact">Contact Form</a></div>
        <div class="foot-col right-align"><a href="/wall/main">the wall</a></div>
    </div>
    <div class="foot-row">
        <div class="foot-col"></div>
        <div class="foot-col"></div>
        <div class="foot-col right-align"><a href="/sequence">DNA Seq Finder</a></div>
    </div>
    <div class="foot-row">
        <div class="foot-col"></div>
        <div class="foot-col"></div>
        <div class="foot-col right-align"><a href="/conway">Conway's Game of Life</a></div>
    </div>
</footer>