.header-wrapper {
  width: 100%;
  margin: 0;
  background-color: white;
  color: black;
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 5em;
  z-index: 10;
}

.header-left {
  font-size: 3em;
  margin: auto 0.5em;
}

.header-right {
  display: flex;
  justify-content: flex-end;
}

.nav {
  margin: auto 2em;
  font-size: 1.5em;
  display: flex;
  align-items: center;
}

.nav > a {
  margin: 0 0.25em;
}

.github-link {
  display: flex;
  align-items: center;
  justify-content: center;
}

.mobile-only {
  display: none;
}

.hamburger {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 21px;
  background: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
  margin: auto 2em;
}

.hamburger span {
  display: block;
  height: 3px;
  width: 100%;
  background-color: black;
  border-radius: 3px;
}

.mobile-menu {
  position: absolute;
  top: 5em;
  left: 0;
  width: 100%;
  background-color: white;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  flex-direction: column;
  padding: 1em 0;
  z-index: 1;
}

.mobile-menu a {
  padding: 0.75em 2em;
  text-decoration: none;
  color: black;
  font-size: 1.2em;
  border-bottom: 1px solid #f0f0f0;
  display: flex;
  justify-content: center;
}

.mobile-menu a:last-child {
  border-bottom: none;
}

.mobile-menu a:hover {
  background-color: #f9f9f9;
}

@media (max-width: 768px) {
  .nav {
    display: none;
  }

  .mobile-only {
    display: flex;
  }
}
