<!DOCTYPE html>
<html>
    <head>
        <title>William Taylor - Portfolio </title>
        <meta charset="utf-8">
        <link rel="stylesheet" href="index.css">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=PT+Mono&display=swap" rel="stylesheet"> 
        <link href="https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap" rel="stylesheet">
        <link rel="shortcut icon" type="image/png" href="./favicon.png">
        <script src="mailform.js"></script> 
    </head>
    <body>
        <%- include('../views/header'); %>
        
        <div class="hero">
            <h1>
                Hello!
            </h1>
            <h2>
                I'm William, a web developer looking to help you on your next project! 
            </h2>
            <h3>
                Take a look at what I've been working on and get in touch if you would like to collaborate.
            </h3>
        </div>
        <br />
        <div class="content">

            <h2 id="projects">Projects</h2>
            
            <div class="projects">
                <div class="project-box">
                    <a href="/wall/main"><img src="the_wall_preview.png" class="preview"></a>
                    <div class="proj-desc">
                        <a href="/wall/main"><h3>The Wall</h3></a>
                        <p>Post and read anonymous public messages. Built with HTML, CSS, node.js, and PostgresQL.</p>
                        <a href="/wall/main"><p>Live App</p></a>
                        <a href="https://github.com/w-taylor/portfolio-site/tree/main/public/the_wall"><p>Source Code</p></a>
                    </div>

                </div>

                <div class="project-box">
                    <a href="/sequence"><img src="DNA_seq_preview.png" class="preview"></a>
                    <div class="proj-desc">
                        <a href="/sequence"><h3>DNA Sequence Finder</h3></a>
                        <p>Browser app used to get information on motifs found in a sequence of DNA. Built using HTML, CSS, and vanilla JS.</p>
                        <a href="/sequence"><p>Live App</p></a>
                        <a href="https://github.com/w-taylor/portfolio-site/tree/main/public/sequence_finder"><p>Source Code</p></a>
                    </div>
                </div>

                <div class="project-box">
                    <a href="/conway"><img src="Conway_preview.png" class="preview"></a>
                    <div class="proj-desc">
                        <a href="/conway"><h3>Conway's Game of Life</h3></a>
                        <p>Implementation of the classic cellular automata simulation. Built using HTML, CSS, and vanilla JS.</p>
                        <a href="/conway"><p>Live App</p></a>
                        <a href="https://github.com/w-taylor/portfolio-site/tree/main/public/conway_game"><p>Source Code</p></a>
                    </div>
                </div>
            </div>
            <h3 class="center-text" id="contact">If you'd like to get in touch, you can use the form below or email me directly at admin@wtaylor.xyz</h3>
            <br />
            <div class="contact-form">
                <div class="contact-content">
                <h3>
                    Contact me 
                </h3>
                    <div class="form-topline">
                        <div class="form-name">
                            <p>Name</p>
                            <input type="text" class="from-name">
                        </div>
                        <div class="form-email">
                            <p>Email</p>
                            <input type="text" class="from-address">
                        </div>
                    </div>
                    <div class="form-subject">
                        <p>Subject</p>
                        <input type="text" class="mes-subject">
                    </div>
                    <p>Message</p>
                    <textarea class="message"></textarea>
                    <button class="submit">Submit</button>
                    <p class="mail-error"></p><p class="mail-success"></p>
                </div>
            </div>
        </div>
        <br />
        <div class="div-line"></div>
        <%- include('../views/footer'); %>
    </body>
</html>
