body {
    background-color: rgb(19, 19, 19);
    color: rgb(202, 202, 202);
    font-family: 'PT Mono', monospace;
    height: 100%;
    margin: 0;
    padding: 0;
}

nav {
    background-color: rgb(19, 19, 19);
    color: rgb(202, 202, 202);
    font-family: 'PT Mono', monospace;
    height: 2rem;
    padding-bottom: 1rem;
  }
  
nav p{
    float:left;
    font-size: 1rem;
    padding-left: 2vw;
    padding-right:5vw;
    text-align: center;
}
  
.nav-right {
    float: right;
}

.hero{
    background-color: rgb(42, 104, 133);
    background-size: cover;
    color:rgb(19, 19, 19);
    min-height: 30rem;
    padding: 2rem 20rem;
}

h1 {
    font-family: 'Kaushan Script', cursive;
    font-size: 10rem;
    margin:0;   
}

h2 {
    font-size: 3rem;
}

h3 {
    font-size: 2rem;
}

.content {
    margin: auto;
    width: 70%;
}

.projects {
    display: flex;
    justify-content: center;
    margin-bottom: 10rem;
}

.project-box {
    border-radius: .5rem;
    border: 4px solid white;
    margin: auto;
    width: 27%;
}

a {
    color: rgb(202, 202, 202);
    text-decoration: none;
}

.proj-desc{
    height: 16rem;
    padding: 0 0.5rem;
}

.preview {
    width: 100%;
}

.contact-form {
    border-radius: 1rem;
    border: 2px solid white;
    font-size: 2rem;
    margin: auto;
    width: 50vw;
}

.contact-content {
    padding: 1.5rem 3rem;
}

form {
    margin: auto;
    width: 100%;
}

.form-name{
    display:inline;
    float: left;
    width: 49%;
}

.form-email{
    display:inline;
    float:right;
    width: 49%;
}

.form-subject{
    clear:both;
}


input[type=text], textarea{
    background-color: rgb(223, 209, 209);
    border-radius: .4rem;
    border: 1px solid gray;
    font-family: 'PT Mono', monospace;
    font-size: 2rem;
    height: 2.2rem;
    margin-bottom: 1rem;
    padding: .2rem;
    width: 100%;
}

.submit {
    background-color: rgb(82, 78, 78);
    border-radius: .5rem;
    border: 2px solid white;
    color: rgb(223, 209, 209);
    font-size: 2rem;
    font: inherit;
    height: 3rem;
    padding: .2rem;
}

textarea {
    height: 8rem;
    resize: vertical;
}

.center-text {
    text-align: center;
}

.div-line {
    background-color: rgb(223, 209, 209);
    height: 0.3rem;
    margin-top: 10rem;
    width: 100%;
}

footer {
    font-size: 1.2rem;
    padding: 2rem 7rem;
}

.foot-row {
    display: flex;
}

.foot-col {
    flex: 33%;
}

.right-align {
    text-align: right;
}

.mail-error{
    color: red;
}

.mail-success{
    color: green;
}

@media only screen and (max-width: 800px) {
    html{
        font-size: 8px;
    }
    .hero{
        padding: 0 3vw 3vw 3vw;
    }
    .content {
        padding: 0 3vw;
    }
    .projects{
        display:inline-block;
    }
    .project-box{
        margin: 5vh auto 0 auto;
        width: 95%;
    }

    .contact-form {
        width: 60vw;
    }

    .form-email, .form-name{
        display:block;
        width: 100%;
    }

    footer {
        padding: 2rem 2rem;
    }
  }