body {
    background-color: rgb(19, 19, 19);
    color: rgb(202, 202, 202);
    font-family: 'PT Mono', monospace;
    margin: 0;
    padding: 0;
    height: 100%;
}

nav {
    background-color: rgb(19, 19, 19);
    color: rgb(202, 202, 202);
    font-family: 'PT Mono', monospace;
    padding-bottom: 1rem;
    height: 2rem;
  }
  
  nav p{
    float:left;
    text-align: center;
    font-size: 1rem;
    padding-right:5vw;
    padding-left: 2vw;
  }
  
  .nav-right {
    float: right;
  }

.hero{
    background-color: rgb(42, 104, 133);
    background-size: cover;
    min-height: 30rem;
    padding: 2rem 20rem;
    color:rgb(19, 19, 19);
}

h1 {
    margin:0;   
    font-size: 10rem;
    font-family: 'Kaushan Script', cursive;
}

h2 {
    font-size: 3rem;
}

h3 {
    font-size: 2rem;
}

.content {
    width: 70%;
    margin: auto;
}

.projects {
    display: flex;
    justify-content: center;
    margin-bottom: 10rem;
}

.project-box {
    width: 27%;
    margin: auto;
    border: 4px solid white;
    border-radius: .5rem;
}

a {
    text-decoration: none;
    color: rgb(202, 202, 202);
}

.proj-desc{
    padding: 0 0.5rem;
    height: 16rem;
}

.preview {
    width: 100%;
}

.contact-form {
    width: 50vw;
    margin: auto;
    border: 2px solid white;
    border-radius: 1rem;
    padding: 1rem 3rem;
}

form {
    width: 100%;
    margin: auto;
}

.form-name{
    display:inline;
    float: left;
    width: 49%;
}

.form-email{
    display:inline;
    float:right;
    width: 49%;
}

.form-subject{
    clear:both;
}

form label {
    font-size: 2rem;
}

input[type=text], textarea{
    font-size: 2rem;
    height: 2.2rem;
    width: 100%;
    padding: .2rem;
    border: 1px solid gray;
    border-radius: .4rem;
    margin-bottom: 1rem;
    background-color: rgb(223, 209, 209);
    font-family: 'PT Mono', monospace;
}

input[type=submit] {
    background-color: rgb(82, 78, 78);
    color: rgb(223, 209, 209);
    font: inherit;
    font-size: 2rem;
    border: 2px solid white;
    border-radius: .5rem;
    height: 3rem;
    padding: .2rem;
}

textarea {
    height: 8rem;
    resize: vertical;
}

.center-text {
    text-align: center;
}

.div-line {
    margin-top: 10rem;
    width: 100%;
    height: 0.3rem;
    background-color: rgb(223, 209, 209);
}

footer {
    padding: 2rem 7rem;
    font-size: 1.2rem;
}

.foot-block {
    height: 5rem;
    background-color: black;
}

.row {
    display: flex;
}

.col {
    flex: 33%;
}

.right-align {
    text-align: right;
}

@media only screen and (max-width: 800px) {
    html{
        font-size: 8px;
    }
    .hero{
        padding: 0 3vw 3vw 3vw;
    }
    .content {
        padding: 0 3vw;
    }
    .projects{
        display:block;
    }
    .project-box{
        width: 100%;
        margin-top: 5vh;
    }
    .form-email, .form-name{
        display:block;
        width: 100%;
    }
  }