.pingboard-content {
  max-width: min(70ch, 100% - 4rem);
  margin-inline: auto;
}

.pb-modal {
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
  overflow: scroll;
}

.pb-modal-content {
  margin: 10% auto;
  background-color: black;
  padding: 2em;
  border: 1px solid #888;
  max-width: min(70ch, 100% - 4rem);
}

.pingboard-title {
  font-size: 5em;
}

.info-modal-title {
  font-size: 1.25em;
}

.pingboard-panel {
  margin: 1.25em 0;
  border: solid white 2px;
  padding: 1em;
  border-radius: 0.5em;
}

.panel-name {
  font-size: 2em;
}

.flex-center {
  justify-content: center;
  display: flex;
}

.modal-name {
  font-size: 2em;
}

.checks-table {
  width: 100%;
  border-collapse: collapse;
  margin: 1rem 0;
}

.checks-table th,
.checks-table td {
  padding: 12px 15px;
  text-align: center;
  border-bottom: 1px solid #ddd;
}

.checks-table th {
  background-color: #f8f9fa;
  font-weight: bold;
  color: #333;
}

.checks-table tbody tr:hover {
  background-color: #232323;
}

.pulse-light {
  --pulse-size: 13px;
  --pulse-duration: 1.5s;

  width: var(--pulse-size);
  height: var(--pulse-size);
  border-radius: 50%;
  animation: pulse-glow var(--pulse-duration) infinite;
  margin: auto 20px;
}

.pulse-light.green {
  --light-color: #00b300;
  --light-color-rgb: 0, 255, 0;
  --light-glow: #27e727;
  background: var(--light-color);
  box-shadow:
    0 0 5px var(--light-glow),
    inset 0 0 10px var(--light-glow);
}

.pulse-light.red {
  --light-color: #d00303;
  --light-color-rgb: 255, 68, 68;
  --light-glow: #ff3737;
  background: var(--light-color);
  box-shadow:
    0 0 5px var(--light-glow),
    inset 0 0 10px var(--light-glow);
  animation-delay: 0.75s;
}

@keyframes pulse-glow {
  0% {
    transform: scale(0.9);
    box-shadow:
      0 0 5px var(--light-glow),
      inset 0 0 10px var(--light-glow),
      0 0 0 0 rgba(var(--light-color-rgb), 0.7);
  }
  70% {
    transform: scale(1);
    box-shadow:
      0 0 20px var(--light-glow),
      inset 0 0 15px var(--light-glow),
      0 0 0 15px rgba(var(--light-color-rgb), 0);
  }
  100% {
    transform: scale(0.9);
    box-shadow:
      0 0 5px var(--light-glow),
      inset 0 0 10px var(--light-glow),
      0 0 0 0 rgba(var(--light-color-rgb), 0);
  }
}

@media (max-width: 768px) {
  .pingboard-content {
    max-width: 95vw;
  }
}

@media (max-width: 370px) {
  .pulse-light {
    display: none;
  }
}
